/* styles.css */
/*. {*/
/*    -fx-primary-color: #007acc;*/
/*    -fx-secondary-color: #4B6EAF;*/
/*    -fx-accent-color: #B6FF00;*/
/*    -fx-grey-color: #b9b9b9;*/
/*    -fx-light-grey-color: #d1d1d1;*/
/*    -fx-lightest-grey-color: #F9F9FB;*/

/*    -fx-focus-color: -fx-secondary-color;*/
/*}*/

/* General Styles */
.root {
    -fx-font-family: "Inter";
    -fx-background-color: #535556;
}

/* VBox Panels Styling */
.vbox {
    -fx-border-color: #707070;
    -fx-border-width: 0 1px 0 0; /* Add right border */
    -fx-border-style: solid;
}


.table-view{
    -fx-background-color: transparent;
    -fx-border-color: #ab0319;
    -fx-border-radius: 5px;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: rgba(255, 255, 255, 0.92);
    -fx-border-color: #ab0319;
    -fx-border-width: 0px 1px 1px 0px;
    -fx-border-style: solid;
}
.table-view:row-selection .column-header-background .filler{
    -fx-background-color:rgba(255, 255, 255, 0.92);
}
.table-view:row-selection .column-header-background .show-hide-columns-button{
    -fx-background-color:rgba(255, 255, 255, 0.92);
}

.table-view .column-header-background .label{
    -fx-wrap-text: true; /* Enable text wrapping */
    -fx-alignment: CENTER_LEFT; /* Aligns the text to the left */
    -fx-background-color: transparent;
    -fx-text-fill: #ab0319;
    -fx-font-weight:bold;
    -fx-font-size:16px;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-pref-height:50px;
}
.table-view  .table-column{
    -fx-padding: 18 0 0 10;
    -fx-border-width: 0px 0px 0px 0px ;
}

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive( #ab0319,80%);

    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #ab0319,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.table-view .table-row-cell{
    -fx-background-color:rgba(255, 255, 255, 0.92);
    -fx-font-size:14px;
    -fx-pref-height:50px;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color:rgba(255, 255, 255, 0.92);
}

.table-view .table-row-cell:hover {
    -fx-background-color:rgba(255, 255, 255, 0.92);
}

.table-view .table-row-cell:selected{
    -fx-background-color: rgba(171, 3, 25, 0.74);
    -fx-text-fill: white;
}

.table-view .table-row-cell:empty{
    -fx-background-color:rgba(255, 255, 255, 0.92);
    -fx-border-color:rgba(255, 255, 255, 0.92);
}

/* Label Styling */
.label {
    -fx-font-size: 16px;
    -fx-text-fill: #ccc;  /* Light grey text */
}

/* RadioButton Styling */
.radio-button {
    -fx-font-size: 14px;
    -fx-text-fill: #bbb;  /* Light grey text */
}

/* Button Styling */
.button {
    -fx-background-color: rgba(255, 255, 255, 0.92);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.3), 8, 0, 0, 3);
    -fx-padding: 10px 15px;
}

.button:hover {
    -fx-background-color: #c5c1c0;
    -fx-tooltip-visible-duration: 0;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 5);
}

.button:pressed {
    -fx-background-color: #8b8d8b;
    /*-fx-effect: none;*/
}

.button-panel {
    -fx-background-color: #9da0a1;
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-padding: 15;
    -fx-border-radius: 10px;
    -fx-border-color: #9da0a1;

}

.tooltip {
    -fx-background-color: #545754;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-border-color: transparent;
}

/*.button-panel-inner {*/
/*    -fx-background-color: #7a7d7e;*/
/*    -fx-background-radius: 15px;*/
/*    -fx-padding: 10;*/
/*    -fx-border-radius: 15px;*/
/*    -fx-border-color: #707070;*/
/*}*/