/* styles.css */
/*. {*/
/*    -fx-primary-color: #007acc;*/
/*    -fx-secondary-color: #4B6EAF;*/
/*    -fx-accent-color: #B6FF00;*/
/*    -fx-grey-color: #b9b9b9;*/
/*    -fx-light-grey-color: #d1d1d1;*/
/*    -fx-lightest-grey-color: #F9F9FB;*/

/*    -fx-focus-color: -fx-secondary-color;*/
/*}*/

/* General Styles */
.root {
    -fx-font-family: "Inter";
    -fx-background-color: #535556;
}

/* VBox Panels Styling */
.vbox {
    -fx-border-color: #707070;
    -fx-border-width: 0 1px 0 0; /* Add right border */
    -fx-border-style: solid;
}

.table-button {
    -fx-background-color: -fx-primary-color;
    -fx-cursor: hand;
}
.table-button:hover{
    -fx-background-color: transparent;
}
.table-view {
    -fx-border-color: transparent;
    -fx-background-color: transparent; /* OR  -fx-background-insets: 0.0; */
    -fx-border-radius: 6;
}
.table-view .column-header-background,
.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header {
    -fx-background-color: -fx-light-grey-color;
    -fx-border-color: -fx-grey-color;
}
.table-view .column-header .label{
    -fx-font-weight: bold;
    -fx-alignment: center-left;
}
/* This is just magic */
.table-row-cell:filled {
    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-lightest-grey-color -fx-lightest-grey-color -fx-lightest-grey-color, transparent;
    -fx-border-insets: 0, 1;
}
.table-row-cell:empty {
    -fx-background-color: transparent;
}
.table-row-cell:filled:hover {
    -fx-background-color: -fx-light-grey-color;
}
.table-row-cell:filled:selected:hover {
    -fx-background-color: -fx-light-grey-color;
}
.table-row-cell:filled:selected {
    -fx-background-color: #eaeaea;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}
.table-row-cell:filled:selected .table-cell {
    -fx-text-fill: black;
}
.table-view .cell:filled{
    -fx-cell-size: 30;
    -fx-alignment: center-left;
}
.check-box-table-cell > .check-box:selected .box .mark {
    -fx-background-color: white;
}
.check-box-table-cell > .check-box:selected .box{
    -fx-background-color: -fx-accent-color;
}
.table-view .placeholder .label {
    -fx-text-fill: red;
    -fx-padding:20px;
}

/* Label Styling */
.label {
    -fx-font-size: 16px;
    -fx-text-fill: #ccc;  /* Light grey text */
}

/* RadioButton Styling */
.radio-button {
    -fx-font-size: 14px;
    -fx-text-fill: #bbb;  /* Light grey text */
}

/* TableView Styling */
.table-view {
    -fx-border-color: #999;  /* Grey border */
    -fx-table-cell-border-color: transparent;
}

.table-column-header {
    -fx-background-color: #ccc;  /* Light grey header background */
    -fx-font-weight: bold;
}

/* Button Styling */
.button {
    -fx-background-color: #d9d5d5;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.3), 8, 0, 0, 3);
    -fx-padding: 10px 15px;
}

.button:hover {
    -fx-background-color: #c5c1c0;
    -fx-tooltip-visible-duration: 0;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 5);
}

.button:pressed {
    -fx-background-color: #8b8d8b;
    /*-fx-effect: none;*/
}

.button-panel {
    -fx-background-color: #9da0a1;
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-padding: 15;
    -fx-border-radius: 10px;
    -fx-border-color: #9da0a1;

}

.tooltip {
    -fx-background-color: #545754;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

/*.button-panel-inner {*/
/*    -fx-background-color: #7a7d7e;*/
/*    -fx-background-radius: 15px;*/
/*    -fx-padding: 10;*/
/*    -fx-border-radius: 15px;*/
/*    -fx-border-color: #707070;*/
/*}*/